td {
    height: 5em;
    width: 5em;
}

img {
    height: 90%;
    width: auto;
    text-align: center;
    margin-left: 0.3em;
    margin-top: 0.3em;
}

.even {
    background-color: tan;
}

.odd {
    background-color: brown;
}

.selected {
    outline: 4px solid gold;
}

.checked {
    outline: 4px solid red;
}
